
.default{
    color: #ec6423;
  }

  .border-def{
    border-color: #ec6423;
  }
  
  .defaultcolor{
    background-color: #ec6423;
  }

  .defaultcolorbtn{
    transition: all 500ms;
    background-color: #ec6423;
  }


  .defaultcolorbtn:hover{
    background-color: #e28052;
  }

  .defaultbg{
    background-color: #222;
  }


  .Tittles  {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ec6423;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #A299AC;
}

/* Highlight des aktuellen Tages */
table {
  height: 80%;
border-collapse: collapse;
}

#none{
  display: none;
}
#activeday {
  display: block;
}

#activerow {
    border-radius: 20px;
    border: 0.5px solid #ec6423;
}

#activerow > td {
    color: #ec6423;
    font-weight: 600;
}

#activerow > td > span {
    color: #ec6423;
}

/* Design der Tabelle */
.opening-hours {
    height: auto;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    padding: 1em;
    max-width: 450px;
    min-width: 320px;
}

.tbody-horas{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
}
.tbody-horas tr {
  display:flow-root;

 }

.fvl-d > td {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #A299AC;
    text-transform: uppercase;
    padding: 1em;
}

.fvl-d > td > span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #A299AC;
  text-transform: uppercase;
}

.fvl-c > td {
  font-size: 12px;
  font-weight: 00;
  letter-spacing: 1.2px;
  color: #A299AC;
  text-transform: uppercase;
  padding: 0.8em;

}



.fvl-c > td > .span2 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #A299AC;
    text-transform: uppercase;
}


tr:first-child td:first-child {border-radius: 20px;}
tr:first-child td:first-child {border-radius: 20px;}


@media screen and (max-width: 382px) {

.fvl-d > td {
    font-size: 14px;
    padding: 15px 5px;
}


}




.table-aulas {
  padding: 20px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* To ensure that the columns have equal width */
}

.table-aulas th,
.table-aulas td {
  background-color: white;
  width: 200px;
  /* border: 1px solid rgb(153, 153, 153); */
  padding: 5px;
  text-align: center;
}

.table-aulas th {
  border: 1px solid #ec6423;

  height:50px;
  background-color: #ec6423;
  color: white;
}

.table-aulas .now{
  background-color: #ec6423;
  color:white;
}

.Cont{
  display: flex;
  height: 317px;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.mot{
  transition: 700ms ease-in-out;
  transform: translateX(0px);
  opacity: 1;
  filter: blur(0px);
}

.mot2{
  transition: 1000ms ease-in-out;
  transform: translateX(0px);
  opacity: 1;
  filter: blur(0px);
}

.esc{
  transition: 700ms ease-in-out;
  opacity: 0;
  filter: blur(10px);
}

.esc2{
  transition: 700ms ease-in-out;
  transform: translateX(-100px);
  opacity: 0;
  filter: blur(10px);
}

/* Barra lateral */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec6423;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f77438;
}


:root{
  --content-width: min(100%,var(--container-max-width,1440px));
  --gap: 0px 0px; 
}

.e-con-inner {
  gap: var(--gap);
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  height: 100%;
}



.sem-scroll{
  overflow: hidden;
}




.child-cl :nth-child(2){
  transition-delay: 500ms ;
}

.child-cl :nth-child(3){
  transition-delay: 800ms ;
}

.child-cl :nth-child(4){
  transition-delay: 1100ms ;
}

.child-cl :nth-child(5){
  transition-delay: 1400ms ;
}

.child-cl :nth-child(6){
  transition-delay: 1700ms ;
}

.child-cl :nth-child(7){
  transition-delay: 2000ms ;
}

.child-cl :nth-child(8){
  transition-delay: 2300ms ;
}

.child-cl :nth-child(9){
  transition-delay: 2600ms ;
}

.child-cl :nth-child(10){
  transition-delay: 500ms ;
}

.child-cl :nth-child(11){
  transition-delay: 800ms ;
}

.child-cl :nth-child(12){
  transition-delay: 1100ms ;
}

.child-cl :nth-child(13){
  transition-delay: 1400ms ;
}

.child-cl :nth-child(14){
  transition-delay: 1700ms ;
}

.child-cl :nth-child(15){
  transition-delay: 2000ms ;
}

.child-cl :nth-child(16){
  transition-delay: 2100ms ;
}

.child-cl :nth-child(17){
  transition-delay: 2400ms ;
}